<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>217992072866-s8f5ujmhh5vsitgj9ssfi8h4uu1ulf31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217992072866-s8f5ujmhh5vsitgj9ssfi8h4uu1ulf31</string>
	<key>API_KEY</key>
	<string>AIzaSyAVT2D5HhwlZ0xMfiyKjtgfwNhSWJdk9lQ</string>
	<key>GCM_SENDER_ID</key>
	<string>217992072866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vladislav.tsvetkov.Chat</string>
	<key>PROJECT_ID</key>
	<string>chat-4f833</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-4f833.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217992072866:ios:62d26390ac92f7a4</string>
	<key>DATABASE_URL</key>
	<string>https://chat-4f833.firebaseio.com</string>
</dict>
</plist>